html {
  height: 100%;
}

body {
  background-image: url("/images/background.jpg");
  backdrop-filter: blur(0.188rem);
  background-size: cover;
  min-height: 100%;
}

.links {
  display: flex;
  justify-content: center;
}

.main-head {
  grid-area: header;
}
.content {
  grid-area: content;
}
.main-nav {
  grid-area: nav;
}

.wrapper {
  display: grid;
  grid-gap: 0rem;
  grid-template-areas: 
    "header"
    "nav"
    "content";
}

.nav-wrapper {
  background-color: #E83F6F;
  font-size: 0.875rem;
  font-weight: bold;
}

.brand-logo {
  margin-left: 1rem;
  font-size: 2.5rem !important;
  font-family: 'Satisfy', cursive;
}

.welcome-card {
  display: flex;
  justify-content: center;
}

.w-card {
  justify-content: center;
  width: auto;
  padding: 1.25rem 3.125rem;
  margin: 10.25rem 1.875rem;
}

.w-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3.25rem !important;
}

.w-content {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;
}

.nav-card {
  display: flex;
  justify-content: center;
}

.n-card {
  width: auto;
  height: 1.875rem;
  margin: 0rem 0.625rem;
}

.n-content {
  display: flex;
  justify-content: space-between;
}

.t-content {
  height: 100%;
}

.ts-content {
  height: 100%;
}

.ts-btns {
  height: 100%;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
}

.ts-card {
  display: flex;
  justify-content: center;
  padding: 0rem 2rem;
}

.ts-btn {
  width: 6.25rem !important;
  height: 6.25rem !important;
  line-height: 6.25rem !important;
  text-align: center;
  padding: 0rem;
}

.t-divider{
  position:absolute;
  left: 9rem;
  top: 2rem;
  bottom: 2rem;
  border-left: .06rem solid #2274A5
}

.ts-list {
  height: 100% !important;
}

.ts-list-content {
  min-height: 26.5rem !important;
  max-height: 26.5rem !important;
}

.ts-delete {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.ts-delete-icon {
  display: flex;
  justify-content: flex-end;
  height: inherit;
  font-size: 1rem !important;
  color: #E83F6F !important;
  font-weight: bold !important;
}

.ts-title {
  display: flex;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.8rem;
  font-weight: bold;
  justify-content: center;
  color: grey;
}

ul {
  height:27rem;
  overflow:hidden; 
  overflow-y:scroll;
}

li {
  display: flex;
  min-width: 100%;
  font-weight: bold !important;
}

label {
  min-width: inherit;
}

.ts-text {
  padding-left: 1.875rem !important;
  display: inline !important;
  color: grey;
}

@media (min-width: 32rem) {
  .wrapper {
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: .5fr .3fr 4fr;
    grid-template-areas: 
      "header  header  header"
      "nav     nav     nav"
      "content content content";
  }

  .t-card {
    width: 40rem;
    height: 40rem;
    margin: 0rem 0.625rem;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
  }

}

@media (min-width: 44rem) {
  .wrapper {
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: .5fr .3fr 4fr;
    grid-template-areas: 
      "header  header  header"
      "nav     nav     nav"
      "content content content";
   }

   .t-card {
    width: 40rem;
    height: 40rem;
    margin: 0rem 0.625rem;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
  }
}