<!DOCTYPE html>
<html>

<head>
  <title>Listy</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
</head>

<body>
  <main>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="" class="brand-logo left">Listy</a>
        <ul class="right">
          <li>
            <% if (user) { %>
            <a href="/logout"><i class="material-icons left">account_circle</i>Sign Out</a>
            <% } else { %>
            <a href="/auth/google"><i class="material-icons left">vpn_key</i>Sign In</a>
            <% } %>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="welcome-card">
    <div class="card horizontal hoverable w-card">
      <div class="card-stacked">
        <span class="card-title w-title center">Welcome to Listy</span>
        <div class="card-content w-content center">
          <p>Listy is a simple app that makes it easier for you to plan, organize and manage your life.</p>
          <p> It is FREE! Please Sign In.</p>
        </div>
      </div>
    </div>
  </div>
  </main>
</body>

</html>