<%-include('../partials/header') %>

<div class="ts-card content">
  <div class="card horizontal t-card">
    <div class="card-content t-content">

      <div class="row ts-content">
        <div class="col s3 ts-btns">
          <div class="row">
            <a href="/heb" class="ts-btn waves-effect waves-light btn">HEB</a>
          </div>
          <div class="row">
            <a href="/walmart" class="ts-btn waves-effect waves-light btn">WALMART</a>
          </div>
          <div class="row">
            <a href="/costco" class="ts-btn waves-effect waves-light btn">COSTCO</a>
          </div>
        </div>
        <div class="t-divider"></div>

        <div class="col s9 ts-list">
          <div class="ts-list-content">
            <ul>
              <% user.heb.forEach(function(hitem) { %>
              <li>
                <label>
                  <form action="/heb/<%= hitem._id %>?_method=DELETE" class="delete-form" class="btn-done"
                    method="POST">
                    <input type="checkbox" class="filled-in">
                    <span class="ts-text">
                      <%= hitem.content %>
                      <button type="submit" class="btn-floating btn-tiny waves-effect waves-light ts-delete">
                        <i class="material-icons ts-delete-icon valign-wrapper">close</i>
                      </button>
                    </span>

                </label>
                </form>
              </li>
              <div class="divider"></div>
              <% }); %>
            </ul>
          </div>
          <div>
            <form action="/heb" class="input-add" method="POST" autocomplete="off">
              <input placeholder="Add new item" type="text" name="content">
              <button class="btn waves-effect waves-light" type="submit" name="action"> Add Item
                <i class="material-icons right">create</i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer') %>